body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #e0e0e0;
  line-height: 1.6;
  overflow-x: hidden;
  width: 100%;
}

/* Preloader full-screen overlay */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Warna latar */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loadminzz {
  animation: fade 1.5s infinite;
  width: 100px;
  height: 70px;
}

/* Animasi Spinner */
.spinner-1 {
  width: 100px;
  height: 100px;
  border: 5px solid cyan; /* Warna border luar */
  animation: spin-1 2s linear infinite;
  position: fixed;
}
.spinner-2 {
  width: 100px;
  height: 100px;
  border: 5px solid blueviolet; /* Warna border luar */
  animation: spin-2 2s linear infinite;
  position: fixed;
}

/* Navbar Styles */
.navbar {
  background: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.navbar-brand img {
  transition: transform 0.5s ease, filter 0.5s ease;
}
.navbar-brand img:hover {
  transform: rotate(360deg) scale(1.2);
  filter: drop-shadow(2px 2px 15px cyan);
}
.nav-link {
  color: #e0e0e0 !important;
  font-weight: 600;
  transition: color 0.3s;
}
.nav-link:hover {
  color: cyan !important;
}
.active {
  color: blueviolet !important;
}

/* Hero Section */
#hero {
  background: linear-gradient(135deg, #333, #121212);
  color: #e0e0e0;
  padding: 4rem 0;
  text-align: center;
  overflow: hidden;
}
#hero img {
  filter: drop-shadow(2px 2px 15px #000000);
  animation: float 3s ease-in-out infinite;
}
#hero img:hover {
  filter: drop-shadow(2px 2px 15px cyan);
  animation: float 3s ease-in-out infinite;
  transition: 1s ease;
  cursor: none;
}
#hero h1 {
  font-size: 3rem;
  font-weight: 700;
  animation: fadeIn 1.5s ease-in-out;
}
#hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #bdbdbd;
  animation: slideIn 1.5s ease-in-out;
}
.btn-custom {
  background-color: blueviolet;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  animation: bounce 2s infinite;
}
.btn-custom:hover {
  background-color: cyan;
  color: black;
}
.btn-custom-sm {
  background-color: blueviolet;
  color: white;
  padding: 0.2rem 1.3rem;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  animation: fadeIn 2s infinite;
}
.btn-custom-sm:hover {
  background-color: cyan;
  color: black;
}

/* Footer */
footer {
  background: #1f1f1f;
  color: #bdbdbd;
  padding: 1.5rem 0;
  text-align: center;
}
footer a {
  color: blueviolet;
  margin: 0 10px;
  transition: color 0.3s ease;
}
footer a:hover {
  color: cyan;
}

#about {
  background: linear-gradient(135deg, #333, #121212);
  color: #e0e0e0;
  padding: 2rem 0;
  text-align: center;
  overflow: hidden;
}
#about h2 {
  animation: slideIn 2s ease-in-out;
}
#about h1 {
  text-align: left;
  animation: pulse 2s ease-in-out;
}
#about a.itshere {
  color: blueviolet;

}
#about a.itshere:hover {
  color: cyan;
  animation: slideIn 0.5s ease-in;

}
#about img {
  transition: transform 1s ease, box-shadow 0.3s ease;
  filter: drop-shadow(2px 2px 15px #000000);
  animation: float 1.5s infinite;
}
#about img:hover {
  filter: drop-shadow(2px 2px 15px cyan);
  transition: 1s ease;
  cursor: none;
}
#about p {
  text-align: left;
  animation: fadeIn 2s ease-out;
}
#about .subjudul{
  color: #e0e0e0;
  text-align: center;
  text-transform: uppercase;
  animation: popUp 2s ease-out;
}

#contact h1 {
  animation: slideIn 2s ease-in-out;
  font-style: oblique;
  text-transform: uppercase;
}
.card {
  transition: transform 1s ease, box-shadow 0.3s ease;
}

.card:hover {
  animation: float 1.5s infinite;
  box-shadow: 0 10px 20px cyan;
}

.btn-wa {
  color: #25d366;
  background-color: #075e54;
}
.btn-wa:hover {
  color: #dcf8c6;
  background-color: #128c7e;
}

.hideinput {
  display: none;
}
/* Keyframe Animations */
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes spin-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(50%);
    font-style: oblique;
    opacity: 1;
  }
  80% {
    transform: translateX(-10%);
    font-style: oblique;
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes popUp {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  80% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
